*{margin: 0;padding:0;}
main{
    text-align: center;
}
#main{
    display: inline-block;
}
#main kbd{
    position: relative;
    width: 4em;
    height: 4em;
    border: 1px solid red;
    display: inline-block;
    text-transform: uppercase;
}
#main kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    display: none;
}
#main kbd:hover > button{
    display: inline-block;
}